@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-container {
  /* background-image: url("img_nature.jpg"); */
  background-size: cover;
  position: relative;
  height: 300px;
  color: blue;
}

.text {
  /* background-color: black; */
  background-color: white;
  /* color: white; */
  color: black;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: screen; */
}

.delayedIn {
  transform: translateY(150%);
  opacity: 0;
}
.delayedOut {
  transform: translateY(-150%);
  opacity: 0;
}
.when-enter-to-screen {
  transform: translateY(0%);
  opacity: 1;
}
.fadein {
  --duration: 1500ms;
  opacity: 0;
  animation: fadein var(--duration) ease-in-out forwards;
}
.delayed-900 {
  animation-delay: 900ms;
}
.delayed-2500 {
  animation-delay: 2500ms;
}
.cursor {
  --duration: 300ms;
  opacity: 0;
  animation: cursor var(--duration) ease-in-out alternate infinite,
    border var(--duration) ease-in-out alternate infinite;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 0.5s;
  mix-blend-mode: screen;
  white-space: nowrap;
}

.btn::before,
.btn::after {
  position: absolute;
  background: #000;
  border: 1px solid black;
  z-index: -1;
  transition: 0.25s;
  content: "";
}

.btn::before {
  height: calc(100% + 2px);
  width: calc(100% - 1rem);
}

.btn::after {
  height: calc(100% - 1rem);
  width: calc(100% + 2px);
}

.btn:hover::before {
  width: 0px;
  /* background: #fff; */
}

.btn:hover::after {
  height: 0px;
  /* background: #fff; */
}

.btn:hover {
  border-radius: 0.7rem;
  /* background: #fff; */
}

.reflex {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    143deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2805716036414566) 16%,
    rgba(255, 255, 255, 0.42622986694677867) 35%,
    rgba(255, 255, 255, 0.7763699229691876) 44%,
    rgba(255, 255, 255, 0.9024203431372549) 49%,
    rgba(255, 255, 255, 0.22454919467787116) 50%,
    rgba(253, 252, 249, 0.13211221988795518) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    143deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2805716036414566) 16%,
    rgba(255, 255, 255, 0.42622986694677867) 35%,
    rgba(255, 255, 255, 0.7763699229691876) 44%,
    rgba(255, 255, 255, 0.9024203431372549) 49%,
    rgba(255, 255, 255, 0.22454919467787116) 50%,
    rgba(253, 252, 249, 0.13211221988795518) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2805716036414566) 16%,
    rgba(255, 255, 255, 0.42622986694677867) 35%,
    rgba(255, 255, 255, 0.7763699229691876) 44%,
    rgba(255, 255, 255, 0.9024203431372549) 49%,
    rgba(255, 255, 255, 0.22454919467787116) 50%,
    rgba(253, 252, 249, 0.13211221988795518) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
